<!-- Header Component Template -->
<header class="flex-none p-4 pb-2 z-30 shadow-sm border-b border-white/5 flex items-center transition-colors duration-300"
    [class.bg-detective-brown]="variant === 'brown'" [class.bg-detective-red]="variant === 'red'">

    <div class="flex items-center mt-1 flex-grow">
        @if (variant === 'red') {
        <div class="wax-seal scale-50 -ml-4 flex-none group-active:scale-40 transition-transform duration-300">
            <i class="fa-solid fa-magnifying-glass text-white text-sm"></i>
        </div>
        } @else {
        <button (click)="goBack()"
            class="wax-seal scale-50 -ml-4 flex-none hover:scale-[0.55] active:scale-40 transition-transform duration-300 cursor-pointer shadow-lg outline-none">
            <i class="fa-solid fa-chevron-left text-white text-sm"></i>
        </button>
        }
        <h2 class="font-heading text-white text-lg uppercase tracking-widest flex-grow ml-2 truncate">
            {{ title }}
        </h2>
    </div>

    <!-- Menu Toggle Button -->
    <button (click)="toggleMenu()"
        class="text-white p-2 hover:bg-black/10 rounded-full transition-all active:scale-95 duration-200 z-50 flex items-center justify-center w-10 h-10">
        @if (!isMenuOpen()) {
        <i class="fa-solid fa-bars-staggered text-xl"></i>
        } @else {
        <i class="fa-solid fa-xmark text-xl"></i>
        }
    </button>
</header>